@import 'src/scss/abstracts/variables';
@import 'src/scss/abstracts/mixins';

:host {
  flex: 1 1 auto;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  background-color: $cl-black-light;
  justify-content: center;
  align-items: center;
}

.landing {
  width: 90rem;
  display: flex;
  flex-flow: row nowrap;
  background-color: $cl-black-lightest;
  border-radius: $border-radius;

  @include for-md-down() {
    width: 100%;
    height: 100%;
    align-items: center;
  }

  &__buttons {
    display: flex;
    flex-flow: column nowrap;
    margin-top: $spacing-xl;

    ::ng-deep {
      slido-button {
        width: 100%;
      }
    }

    slido-button + slido-button {
      margin-top: $spacing-xs;
    }
  }

  &__cta {
    flex: 0 0 45rem;
    margin: $spacing-xl;
    display: flex;
    flex-flow: column nowrap;

    @include for-md-down() {
      flex: 1 1 auto;
      max-height: 30rem;
    }
  }

  &__image {
    flex: 1 0 auto;
    background-image: linear-gradient(
        to bottom,
        rgba($cl-black-lightest, 0.6),
        rgba($cl-black-lightest, 0.6)
      ),
      url(/assets/images/landing/conference.jpg);
    background-size: cover;
    background-position: center;

    @include for-md-down() {
      display: none;
    }
  }
}
