<div class="landing">
  <div class="landing__cta">
    <h1 class="heading heading--primary">Sign-up your event today!</h1>
    <p class="text">Assumenda voluptatum sequi eligendi non vero et soluta, iusto ab hic repudiandae nostrum in ratione molestias at consequuntur sint voluptate ipsam veniam!</p>
    <div class="landing__buttons">
      <slido-button [routerLink]="['/', appRoutes.CREATE]">
        <span normalState>Sign-up event</span>
      </slido-button>
      <slido-button [routerLink]="['/', appRoutes.LIST]" secondary="true">
        <span normalState>All events</span>
      </slido-button>
    </div>
  </div>
  
  <div class="landing__image"></div>
</div>