<div class="info-box">
  <h1 class="heading heading--secondary centered-text"> Successfully submited for a review!</h1>

  <span class="centered-text text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quam facilis ipsam esse consequuntur consequatur iste impedit atque quibusdam culpa veniam ex reprehenderit optio, assumenda sit quas ipsa ullam perspiciatis.</span>

  <slido-button [routerLink]="['/', appRoutes.LIST]">
    <span normalState>See all events</span>
  </slido-button>
</div>