@import 'src/scss/abstracts/variables';

:host {
  &.large {
    .spinner {
      & > div {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

.spinner {
  text-align: center;
  display: flex;
  align-items: center;

  & > div {
    width: 1.2rem;
    height: 1.2rem;
    background-color: $cl-white;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

/* TODO: Move these into global animations.scss */
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
  }
}