@import 'src/scss/abstracts/variables';

:host {
  width: $input-width;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: calc(1.2rem + #{$spacing-xxs});

  .slido-textarea {
    width: 100%;
    height: 15rem;
    padding: $spacing-s;
    border: 1px solid $cl-black-dark;
    border-radius: $border-radius;
    font-size: 1.4rem;
    resize: none;

    &::-webkit-input-placeholder {
      color: $cl-gray-light;
    }

    &::-moz-placeholder {
      color: $cl-gray-light;
    }

    &:-ms-input-placeholder {
      color: $cl-gray-light;
    }

    &::-ms-input-placeholder {
      color: $cl-gray-light;
    }

    &::placeholder {
      color: $cl-gray-light;
    }
  } 
}