html {
  box-sizing: border-box;
  background-color: $cl-black-light;
  font-size: 70%;

  @media (max-width: 2496px) {
    font-size: 62.5%;
  }

  @include for-md-down {
    font-size: 50%;
  }
}

.container {
  width: 100%;
  max-width: $container-width;
}