@import 'src/scss/abstracts/variables';
@import 'src/scss/abstracts/mixins';

:host {
  width: $input-width;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  padding-bottom: calc(1.2rem + #{$spacing-xxs});

  .slido-error-text {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: $cl-error;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .slido-datepicker {
    width: 100%;
    height: 5rem;
    padding: $spacing-s;
    border: 1px solid $cl-black-dark;
    border-radius: $border-radius;
    font-size: 1.4rem;

    &.ng-valid.ng-touched.ng-dirty {
      border-color: $cl-success;
    }

    &.ng-invalid.ng-touched {
      border-color: $cl-error;
    }

    &::-webkit-input-placeholder {
      color: $cl-gray-light;
    }

    &::-moz-placeholder {
      color: $cl-gray-light;
    }

    &:-ms-input-placeholder {
      color: $cl-gray-light;
    }

    &::-ms-input-placeholder {
      color: $cl-gray-light;
    }

    &::placeholder {
      color: $cl-gray-light;
    }
  } 
}