<slido-label *ngIf="!!name && showLabel"
             [name]="name"
             [required]="required">
</slido-label>

<input [type]="type"
       [name]="name"
       [id]="id || name"
       [formControl]="control"
       [placeholder]="placeholder || ''"
       [ngClass]="{ 'has-value': control.value }"
       class="slido-input">

<span *ngIf="control.hasError('required') && control.touched"
      class="slido-error-text">
  <ng-container *ngIf="name; else requiredDefault">
    {{ name | titlecase }} is <strong>required.</strong>
  </ng-container>
  <ng-template #requiredDefault>
    <strong>Required.</strong>
  </ng-template>
</span>

<span *ngIf="!control.hasError('required') && control.hasError('email') && control.touched"
      class="slido-error-text">
  Has to be an <strong>email format.</strong>
</span>

<span *ngIf="!control.hasError('required') && control.hasError('minlength') && control.touched"
      class="slido-error-text">
  Has to be at least <strong>{{ control.errors.minlength.requiredLength}} characters long</strong>, has {{ control.errors.minlength.actualLength}}
</span>