@import 'src/scss/abstracts/variables';

:host {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $cl-white;
  padding: $spacing-xl;
  align-items: center;
}